<% if (pages > 1) { %>
<ul class="pagination text-center mb-5">
  <% if (current == 1) { %>
  <li class="disabled"><a class="mr-2 btn btn-primary">&laquo; First</a></li>
  <% } else { if(queryString){ %> <% if(queryString.startDate &&
  !queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/1/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate="
      >&laquo; First</a
    >
  </li>
  <% } else if(!queryString.startDate && queryString.endDate){ %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/1/?searchQuery=<%= queryString.query %>&startDate=&endDate=<%= queryString.endDate %>"
      >&laquo; First</a
    >
  </li>
  <% } else if(queryString.startDate && queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/1/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate=<%= queryString.endDate %>"
      >&laquo; First</a
    >
  </li>
  <% } else { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/1/?searchQuery=<%= queryString.query %>"
      >&laquo; First</a
    >
  </li>
  <% }} else { %>
  <li>
    <a class="mr-2 btn btn-primary" href="/<%= path %>/1">&laquo; First</a>
  </li>
  <% }} %> <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if
  (i !== 1) { %>
  <li class="disabled"><a class="mr-2 btn btn-primary">...</a></li>
  <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i
  == current) { %>
  <li class="active"><a class="mr-2 btn btn-primary"><%= i %></a></li>
  <% } else { if(queryString){ %> <% if(queryString.startDate &&
  !queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= i %>/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate="
      ><%= i %></a
    >
  </li>
  <% } else if(!queryString.startDate && queryString.endDate){ %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= i %>/?searchQuery=<%= queryString.query %>&startDate=&endDate=<%= queryString.endDate %>"
      ><%= i %></a
    >
  </li>
  <% } else if(queryString.startDate && queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= i %>/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate=<%= queryString.endDate %>"
      ><%= i %></a
    >
  </li>
  <% } else { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= i %>/?searchQuery=<%= queryString.query %>"
      ><%= i %></a
    >
  </li>
  <% }} else { %>
  <li>
    <a class="mr-2 btn btn-primary" href="/<%= path %>/<%= i %>"><%= i %></a>
  </li>
  <% }} %> <% if (i == Number(current) + 4 && i < pages) { %>
  <li class="disabled"><a class="mr-2 btn btn-primary">...</a></li>
  <% } %> <% } %> <% if (current == pages) { %>
  <li class="disabled"><a class="mr-2 btn btn-primary">Last &raquo;</a></li>
  <% } else{ if(queryString){ %> <% if(queryString.startDate &&
  !queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= pages %>/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate="
      >Last &raquo;</a
    >
  </li>
  <% } else if(!queryString.startDate && queryString.endDate){ %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= pages %>/?searchQuery=<%= queryString.query %>&startDate=&endDate=<%= queryString.endDate %>"
      >Last &raquo;</a
    >
  </li>
  <% } else if(queryString.startDate && queryString.endDate) { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= pages %>/?searchQuery=<%= queryString.query %>&startDate=<%= queryString.startDate %>&endDate=<%= queryString.endDate %>"
      >Last &raquo;</a
    >
  </li>
  <% } else { %>
  <li>
    <a
      class="mr-2 btn btn-primary"
      href="/<%= path %>/<%= pages %>/?searchQuery=<%= queryString.query %>"
      >Last &raquo;</a
    >
  </li>
  <% }} else { %>
  <li>
    <a class="btn btn-primary" href="/<%= path %>/<%= pages %>">Last &raquo;</a>
  </li>
  <% }} %>
</ul>
<% } %>
