<div class="overview card border-success text-uppercase">
    <div class="card-header bg-success border-success">
        <h2 class="h4 text-light text-center">
            Sales Overview
        </h2>
    </div>
    <div class="container mb-4">
        <div class="row justify-content-center text-center text-md-left">
            <div class="col-md-12">
                <div class="search-area mt-4 mt-md-5 mb-4">
                    <form action="/dashboard" method="get">
                        <div class="container">
                            <div
                                class="row d-flex justify-content-center align-items-start">
                                <div class="col-lg-2 mb-3 mr-lg-3">
                                    <div class="input-group">
                                        <select class="form-control"
                                            name="salesType" required>
                                            <option value=''>Select Types
                                            </option>
                                            <option value="product" <%if(queryString.salesType=='product'){%> selected <%}%>>
                                                Product</option>
                                            <option value="customer" <%if(queryString.salesType=='customer'){%> selected <%}%>>
                                                Customer
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-3 mr-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i
                                                    class="ic-magnifying-glass"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                            name="salesQuery"
                                            value="<%if(queryString.salesQuery){%><%= queryString.salesQuery; %><%}%>"
                                            placeholder="Enter phone number / product Code " />
                                    </div>
                                </div>
                                <div class="col-lg-7 d-flex align-items-start">
                                    <div class="input-group mr-4">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="ic-calendar"></i>
                                            </div>
                                        </div>
                                        <input type="date" class="form-control"
                                        name="startDateSales" value="<%if(queryString.startDateSales){%><%= queryString.startDateSales; %><%}%>"/>
                                        <input type="date" class="form-control"
                                            name="endDateSales" value="<%if(queryString.endDateSales){%><%= queryString.endDateSales; %><%}%>"/>
                                    </div>

                                    <button type="submit"
                                        class="btn btn-success mr-2" style="width: 33%;">
                                        <i class="ic-magnifying-glass"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 border-success text-center">
                <div class="card-body bg-light text-success">
                    <h3 class="display-5"><%= salesData.totalSales %></h3>
                    <h6 class="card-title text-muted">Total Sales</h6>
                </div>
            </div>
            <div class="col-sm-4 border-success text-center">
                <div class="card-body bg-light text-info">
                    <h3 class="display-5"><%= salesData.totalPaid %></h3>
                    <h6 class="card-title text-muted">Paid</h6>
                </div>
            </div>
            <div class="col-sm-4 border-success text-center">
                <div class="card-body bg-light text-warning">
                    <h3 class="display-5"><%= salesData.totalDue %></h3>
                    <h6 class="card-title text-muted">Unpaid</h6>
                </div>
            </div>
        </div>
    </div>
</div>