<div class="content-box">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table__header">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity (Total)</th>
                    <th>Sales (Total)</th>
                    <th>Returns (Total)</th>
                    <th>Left Over</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <% if(locals.inventories) {
                    inventories.forEach((inventory)=>{ %>
                <tr>
                    <td><%= inventory.product.name; %></td>
                    <td class="font-weight-bold"><%= inventory.quantity.toLocaleString(); %></td>
                    <td class="text-success font-weight-bold"><%= inventory.sales.toLocaleString(); %></td>
                    <td class="text-danger font-weight-bold"><%= inventory.returns.toLocaleString(); %></td>
                    <td class="text-info font-weight-bold"> <%= inventory.leftOver.toLocaleString(); %></td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </div>
</div>