<%- include('../modules/_header', {page: "Inventories"}); %>
<%- include('../modules/_navs', {page: "Inventories"}); %>
<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom mt-0 mb-3 mt-md-3 py-4">
    <h1 class="h3 content-header">
        <i class="ic-archive pr-2"></i>
        Inventories
    </h1>
    <div class="content-action btn-toolbar mb-2 mb-md-0">
        <a href="/entries" class="btn btn-sm btn-secondary mr-3">
            <i class="ic-hour-glass"></i>
            View Entries
        </a>

        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
            data-target="#addInventory">
            <i class="ic-plus"></i>
            Add Inventory
        </button>
    </div>
</div>

<%- include('../modules/_alert'); %>
<%- include('../modules/_search', {path: 'inventories', placeholderText: 'Enter product code'}); %>
<%- include('./_data'); %>
<%- include('../modules/_pagination', { path: 'inventories'}); %>
<%- include('./_collect-form'); %>
<%- include('../modules/_footer'); %>