<%- include('../modules/_header', {page: 'Returns'}); %>
<%- include('../modules/_navs', {page: 'Returns'}); %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
align-items-center border-bottom mt-0 mb-3 mt-md-3 py-4">
    <h1 class="h3 content-header">
        <i class="ic-back-in-time"></i>
        Returns
    </h1>
    <div class="content-action btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
            data-target="#addReturns">
            <i class="ic-plus"></i>
            Add Returns
        </button>
    </div>
</div>

<%- include('../modules/_alert'); %>
<%- include('../modules/_search-with-date', {path: 'returns', placeholderText: 'Enter phone number'}); %>
<%- include('./_data'); %>
<%- include('../modules/_pagination', {path: 'returns'}); %>
<%- include('./_collect-form'); %>
<%- include('../modules/_delete-form', {deleteItemTypes: 'returns'}); %>
<%- include('../modules/_footer'); %>
