<%- include('../modules/_header', {page: 'Sales'}); %>
<%- include('../modules/_navs', {page: 'Sales'}); %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap
align-items-center border-bottom mt-0 mb-3 mt-md-3 py-4">
    <h1 class="h3 content-header">
        <i class="ic-calculator"></i>
        Sales
    </h1>
    <div class="content-action btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-sm btn-info mr-3" data-toggle="modal"
            data-target="#addCustomer">
            <i class="ic-plus"></i>
            Add New Customer
        </button>
        <button type="button" class="btn btn-sm btn-secondary mr-3" data-toggle="modal"
            data-target="#addBalance">
            <i class="ic-plus"></i>
            Add Balance
        </button>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
            data-target="#addSales">
            <i class="ic-plus"></i>
            New Sales
        </button>

    </div>
</div>


<%- include('../modules/_alert'); %>
<%- include('../modules/_search-with-date.ejs', {path: 'sales', placeholderText: 'Enter phone number'}); %>
<%- include('./_data'); %>
<%- include('../modules/_pagination', {path: 'sales'}); %>
<%- include('./_collect-form'); %>
<%- include('../customers/_collect-form'); %>
<%- include('./_balance-form'); %>
<%- include('../modules/_delete-form', {deleteItemTypes: 'sales'}); %>
<%- include('../modules/_footer'); %>
